<div class="row">
  <h1><%= @article.title %></h1>

  <p><%= @article.body %></p>
  
  <ul class="articles modify-post-links">
    <li><%= link_to "Edit", edit_article_path(@article), class: "btn btn-secondary btn-large" %></li>
    <li><%= link_to "Delete", article_path(@article), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    }, class: "btn btn-danger btn-secondary btn-large" %></li>
  </ul>

  <% if @article.comments.any? %>
    <h2>Comments</h2>
    <%# debug @comments %>

    <%= render @article.comments %>
  <% end %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
</div>